* { margin:0; padding:0; box-sizing:border-box; }

html, body {
  height:100%;
  background: transparent;
}

/* 스크롤은 이 영역이 만든다 */
.scroll-space{
  height: 500vh;
}

/* 중앙 고정 */
.viewer{
  position: fixed;
  inset: 0;
  display:flex;
  align-items:center;
  justify-content:center;
  pointer-events:none;
}

/* 핸드폰 이미지 */
#phone{
  width: min(96vw, 520px);   /* 최대한 크게 */
  height: auto;
  display:block;
}
